<div class="mt-2" *ngIf="member">
     <div class="col-3 py-0 my-0" style="display: inline-block;">
         <h3>Your profile</h3>

     </div>
     <div class="col-9 py-0 my-0" style="display: inline-block;" >
         <div class="alert alert-info" *ngIf="form.dirty">
             <strong>Information: </strong> You have made changes.  Any unsaved changes will be lost
         </div>
     </div>
     <div class="col-3 my-2" style="display: inline-block;">
         <div class="card">
             <img src="{{member.photoUrl || './assets/images/user.png'}}" alt="{{member.knownAs}}" 
                 class="card-img-top img-thumbnail">
             <div class="card-body">
                 <div>
                     <strong>Location:</strong> {{member.city}} {{member.pin}}
                 </div>
                 <div>
                     <strong>Date of Birth:</strong>
                     {{member.dOB | date}} {{member.dOB}}.  Place of birth: {{member.placeOfBirth}}
                 </div>
                 <div>
                     <strong>Last Active:</strong>
                     {{member.lastActive}}
                 </div>
                 <div>
                     <strong>Member since:</strong>
                     {{member.created | date: 'dd MMM yyyy'}}
                 </div>
                 <div>
                      <strong>Current Status</strong>
                      <span *ngIf="member.candidateStatus!==100" style="color: red;" >{{member.candidateStatus}}</span>
                      <span *ngIf="member.candidateStatus===100" >{{member.candidateStatus}}</span>
                  </div>
             </div>
             <div class="card-footer">
                    <button [disabled]="!form.dirty" type="submit" class="btn btn-success btn-block fa fa-save" (click)="onSubmit()" >
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">Update</span>
                    </button>
                    <button class="btn btn-primary fa fa-scale-balance" type="button" routerLink="/hr/cvassess/{{member.id}}" ></button>
                    <button type="button" class="btn btn-success btn-block fa fa-save" (click)="TransactionHistory()" >Transaction History</button>
             </div>
         </div>
     </div>
 
     
     <div class="col-9" style="display: inline-block; vertical-align: top; ">
         <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <tabset class="member-tabset">
                <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                    <div class="my-2" style="font-size: small;">
                        <div class="stdd b w50 alignR">Gender</div>
                            <input class="stdd w30" type="text" formControlName="gender">
                        <div class="stdd w50 b w75 alignR">First Name</div>
                            <input class="stdd w150" type="text" formControlName="firstName" >
                        <div class="stddmx2 b w100 alignR">Second Name</div>
                            <input class="stddmx2 w150" type="text" formControlName="secondName" >
                        <div class="stddmx2 b w100 alignR">Family Name</div>
                            <input class="stddmx2 w150" type="text" formControlName="familyName" >
                        <div class="stddmx2 b w100 alignR">Known As</div>
                            <input class="stddmx2 w100" type="text" formControlName="knownAs">
                        <br>
                        <div class="stdd b w100">Date of Birth</div>
                            <input class="stddmx2 w150"
                                type="text"
                                placeholder="Date of birth"
                                formControlName="dOB"
                                bsDatepicker
                                [bsValue]="bsValueDate"
                                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                            >   
                        <div class="stddmx2 b w100">Birth Place</div>
                            <input class="stddmx2 w150" type="text" formControlName="placeOfBirth">
                        <div class="stddmx2 b w150">Notification Desired</div>
                            <input class="stddmx2 w50" type="checkbox" formControlName="notificationDesired" >
                        <br>
                        <div class="stdd b w100">Email</div>
                            <input class="stddmx2 w350" type="text" formControlName="email" >
                        <hr>
                        <div class="stdd col-6" >
                            <div class="w100 b">Introduction</div>
                            <textarea class="form-control ml-10" formControlName="introduction" rows="2" ></textarea>
                        </div>
                        <div class="stdd col-6" >
                            <div class="stdd b w100"  >Interests</div>
                            <textarea class="form-control ml-10" formControlName="interests" rows="2" ></textarea>
                        </div>
                         <hr>
                        <div class="stdd w100 b" >Aadhar No</div>
                        <input type="text" formControlName="aadharNo" class="stdd w150 py-0 my-0">
                        <hr>
                        <div style="font-weight: bold;">
                            <label style="width: 35px;" >Sr#</label>
                            <label class="stddmx2 w100" >PP No</label>
                            <label class="stddmx2 w100" >Nationality</label>
                            <label class="stddmx2 w50" >ECNR</label>
                            <label class="stddmx2 w125" >Issued On</label>
                            <label class="stddmx2  w135" >Valid Upto</label>
                            <label class="stddmx2 w75" >Is Valid</label>
                            <div class="stdd w200" >
                                <button type="button" (click)="addUserPP()" class="stdd px-15 fa fa-plus" style="color: blue; float: right;"></button>
                            </div>
                        </div>
                        
                    </div>
                    <div formArrayName="userPassports" class="my-1 px-0" style="height: 10px; font-size: small;" >
                        <div *ngFor="let q of userPassports.controls; let i=index">
                            <div [formGroupName]="i" >
                                <div class="stdd w35" >{{i+1}}</div>
                                <input type="text" formControlName="passportNo" class="stddmx2 w100"  >
                                <input type="text" formControlName="nationality" class="stddmx2 w100" >
                                <input type="checkbox" formControlName="ecnr" class="stddmx2 w50"  >
                                <div class="stdd b w100">Issued On</div>
                                <input class="stddmx2 w100"
                                    type="text"
                                    placeholder="Issued On"
                                    formControlName="issuedOn"
                                    bsDatepicker
                                    [bsValue]="bsValueDate"
                                    [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                                >   

                                <div class="stdd b w100">Validity</div>
                                <input class="stddmx2 w100"
                                    type="text"
                                    placeholder="Valid upto"
                                    formControlName="valdiity"
                                    bsDatepicker
                                    [bsValue]="bsValueDate"
                                    [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                                >   
                                <input type="checkbox" formControlName="isValid" class="stddmx2 w50" >
                                <div class="stdd w50" >
                                    <button (click)="removeUserPP(i)" class="stdd fa fa-trash" style="color:red; float: right;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                
                <tab heading='Professions' (selectTab)="onTabActivated($event)">
                    <label class="px-5" style="width: 50px;">Sr. No.</label>
                    <label class="px-5" style="width: 500px;">Profession</label>
                    <label class="px-5" style="width: 50px;">Is Main</label>
                    <button type="button" (click)="addUserProfession()" class="px-15 fa fa-plus" style="color: blue;"></button>
                    <div formArrayName="userProfessions" class="my-1 px-0" style="height: 10px; font-size: small;" >
                        <div *ngFor="let cat of userProfessions.controls; let i=index">
                            <div [formGroupName]="i" >
                                <div style="display: inline-block; width: 50px;" class="px-5">{{i+1}}</div>
                                <ng-select *ngIf="categories" style="display: inline-block; width: 500px;" class="px-5"
                                    [items]="categories"
                                    bindLabel="name"
                                    bindValue="id"
                                    labelForId="category"
                                    placeholder="Select categories"
                                    clearAllText="Clear"
                                    formControlName="categoryId">
                                </ng-select>
                                <input type="checkbox" formControlName="isMain" style="display: inline-block; width: 50px" class="px-5">
                                <button (click)="removeUserProfession(i)" style="margin-left: 10px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading='Qualifications' (selectTab)="onTabActivated($event)">
                    <label class="px-5" style="width: 50px;">Sr. No.</label>
                    <label class="px-5" style="width: 300px;">Qualification</label>
                    <label class="px-5" style="width: 50px;">Is Main</label>
                    <button type="button" (click)="addQualification()" class="px-15 fa fa-plus" style="color: blue;"></button>
                    <div formArrayName="userQualifications" class="my-1 px-0" style="height: 10px; font-size: small;" >
                        <div *ngFor="let q of userQualifications.controls; let i=index">
                            <div [formGroupName]="i" >
                                <div style="display: inline-block; width: 50px;" class="px-5">{{i+1}}</div>
                                <ng-select *ngIf="qualifications" style="display: inline-block; width: 300px;" class="px-5"
                                    [items]="qualifications"
                                    bindLabel="name"
                                    bindValue="id"
                                    labelForId="Qualification"
                                    placeholder="Select Qualification"
                                    clearAllText="Clear"
                                    formControlName="qualificationId">
                                </ng-select>
                                <input type="checkbox" formControlName="isMain" style="margin-left: 50px; display: inline-block; width: 50px" >
                                <button (click)="removeUserQualification(i)" style="margin-left: 10px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading='Address & Phones' (selectTab)="onTabActivated($event)">
                     <div class="col-7" style="display: inline-block; vertical-align: top;" >
                        <button type="button" (click)="addEntityAddress()" class="fa fa-plus" style="text-align: right; color: blue;"></button>
                        <div formArrayName="entityAddresses" style="height: 10px; font-size: small; " class="my-1 px-0"> 
                            <div *ngFor="let ph of entityAddresses.controls; let i=index"> 
                                <div [formGroupName]="i">
                                   <div class="stdd w40 b alignR" >Sr.No.</div>
                                   <div class="stdd w40" >{{i+1}}</div>
                                   <div class="stdd w40 alignR b" >Type</div>
                                   <input type="text" formControlName="addressType" class="stddmx2 w30">
                                   <div class="stdd w175 alignR b">Is Main Address</div> 
                                   <input class="stdd mx-20" type="checkbox" formControlName="isMain" >
                                   <br><div class="stdd w100 alignR b" >Address</div> 
                                   <input class="stddmx2 w400" type="text" formControlName="add" >
                                   <br><div class="stdd alignR b w100" >Street Address</div> 
                                   <input class="stddmx2 w400" type="text" formControlName="streetAdd" >
                                   <br><div class="stdd w100 alignR b">City</div> 
                                   <input class="stddmx2 w100" type="text" formControlName="city" >
                                   <div class="stdd w40 alignR b" >PIN</div> 
                                   <input class="stddmx2 w60" type="text" formControlName="pin" >
                                   <br><div class="stdd w100 alignR b" >District</div>
                                   <input class="stddmx2 w100"  type="text" formControlName="district" >
                                   <div class="stdd w40 alignR b" >State</div>
                                   <input class="stddmx2 w100" type="text" formControlName="state" >
                                   <div class="stdd w50 alignR b" >Country</div>
                                   <input class="stdd ml-2 w100" type="text" formControlName="country" >
                                   <div class="stdd w50">
                                        <button (click)="removeAddress(i)" class="fa fa-trash" style="float: right; color:red; "></button>
                                    </div>    
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline-block; font-size: small; vertical-align: top;" class="col-5">
                        <div style="font-weight: bold;">Phones</div>
                        <label class="stdd mx-1 w40" >Sr#</label>
                        <label class="stdd mx-1 w100" >Mobile No</label>
                        <label class="stdd w50 mx-1" >Is Main</label>
                        <label class="stdd w150 mx-1" >Remarks</label>
                        <div class="stdd w50" >
                            <button type="button" (click)="addPhone()" class="px-15 fa fa-plus" style="color: blue; float: right;"></button>
                        </div>
                        <div formArrayName="userPhones" class="my-1 px-0" style="font-size: small;" >
                            <div *ngFor="let q of userPhones.controls; let j=index">
                                <div [formGroupName]="j" >
                                    <div class="stdd w40 mx-1" >{{j+1}}</div>
                                    <input class="stdd w100 mx-1" type="text" formControlName="mobileNo" >
                                    <input clss="stdd w50 mx-1" type="checkbox" formControlName="isMain" >
                                    <input class="stdd w150 mx-1" type="text" formControlName="remarks" >
                                    <div class="stdd w40" >
                                        <button (click)="removeUserPhone(j)" class="fa fa-trash" style="color:red; float: right;"></button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading='Experiences' (selectTab)="onTabActivated($event)">
                    <div style="font-weight: bold; font-size: small;">
                        <label style="width: 35px;" >Sr#</label>
                        <label class="w125 mx-2 px-0" >Date From</label>
                        <label class="w125 mx-2 px-0" >Date Upto</label>
                        <label class="w150 mx-2 px-2" >Company</label>
                        <label class="w150 mx-2 px-2" >Position </label>
                        <label class="w150 mx-2 px-1" >Salary drawn</label>
                        <div class="stdd w40" >
                            <button type="button" (click)="addUserExperience()" class="fa fa-plus" style="color: blue; float: right;"></button>
                        </div>
                    </div>
                    <div formArrayName="userExperiences" class="my-1 px-0" style="height: 10px; font-size: small;" >
                        <div *ngFor="let q of userExperiences.controls; let i=index">
                            <div [formGroupName]="i" >
                                <div class="stdd w35" >{{i+1}}</div>
                                <input class="stdd w125 mx-2" type="text" formControlName="workedFrom"  >
                                <input class="stddmx2 w125" type="text" formControlName="workedUpto" >
                                <!--`
                                <div class="col-2" style="display: inline-block;">
                                    <app-date-input [formControl]='form.userExperiences.controls["workedFrom"]' [label]='"Worked From"' [maxDate]='maxDate' [minDate]='minDate' ></app-date-input>
                                </div>
                                <div class="col-2" style="display: inline-block;">
                                    <app-date-input [formControl]='form.userExperiences.controls["workedUpto"]' [label]='"Worked Upto"' [maxDate]='maxDate' [minDate]='minDate' ></app-date-input>
                                </div>
                                -->
                                <input class="stddmx2 w150 px-2" type="text" formControlName="employer"  >
                                <input class="stddmx2 w150 px-2" type="text" formControlName="position"  >
                                <input type="text" formControlName="salaryCurrency" class="stddmx2 w50 px-1"  >
                                <input type="number" formControlName="monthlySalaryDrawn" class="stddmx2 w100 " >
                                <div class="stdd w50" >
                                    <button (click)="removeUserExperience(i)" class="fa fa-trash" style="color:red; float: right;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading='Documents' (selectTab)="onTabActivated($event)">
                    <label class="btn btn-secondary" (click)="fileInput.value = null">
                        Choose Files
                        <input
                          #fileInput
                          type="file"
                          style="display: none"
                          (change)="chooseFile(fileInput.files)"
                          multiple
                        />
                      </label>

                      <div *ngIf="selectedFiles && selectedFiles.length">
                        <div
                          *ngFor="let item of selectedFiles"
                          class="d-flex justify-content-between flex-wrap bg-light text-primary"
                        >
                          <div>{{ item.name }}</div>
                          <div>{{ humanFileSize(item.size) }}</div>
                        </div>
                        <div *ngIf="uploading" class="mt-2">
                          <ngb-progressbar
                            type="success"
                            showValue="true"
                            [value]="uploadProgress"
                          ></ngb-progressbar>
                        </div>
                        <button
                          type="button"
                          class="btn btn-primary mt-2"
                          
                          [disabled]="uploading"
                        >
                          <span *ngIf="!uploading">Upload</span>
                          <span *ngIf="uploading"> Processing <loading-bar></loading-bar></span>
                        </button>
                      </div>
                      
                      <div *ngIf="errorMsg" class="text-danger">
                        {{ errorMsg }}
                      </div>
                      
                      <div *ngIf="submissionResults && submissionResults.length" class="text-success">
                        <p class="font-weight-bold mb-0">File uploaded</p>
                        <pre>{{ submissionResults | json }}</pre>
                      </div>
                    <!--
                    <div style="font-weight: bold; font-size: small;">
                        <label style="width: 35px;" >Sr#</label>
                        <label class="mx-2 px-0" style="width: 200px;">File Name</label>
                        <div style="width: 200px; display: inline-block;">
                            <button type="button" (click)="addUserAttachment()" class="px-15 fa fa-plus" style="color: blue; float: right;"></button>
                        </div>
                    </div>

                    <div formArrayName="userAttachments" class="my-1 px-0" style="height: 10px; font-size: small;" >
                        <div *ngFor="let q of userAttachments.controls; let i=index">
                            <div [formGroupName]="i" >
                                <div style="display: inline-block; width: 35px;">{{i+1}}</div>
                                <input type="file" id="file" formControlName="fileName" (change)="handleFileInput($event.target.files)" style="width: 400px; display: inline-block;" class="mx-2">
                                <div style="width: 50px; display: inline-block;">
                                    <button (click)="removeAttachment(i)" class="fa fa-trash" style="color:red; float: right;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                -->
                </tab>
                <tab heading='Edit Photos' (selectTab)="onTabActivated($event)">
                    <app-photo-editor [member]="member"></app-photo-editor>
                </tab>
             </tabset>
         </form>            

          <ul class="text-danger list-unstyled" *ngIf="errors">
             <li *ngFor="let error of errors">
                  {{error}}
             </li>
         </ul>

   
     </div>
     <div>
         {{this.form.value | json}}
     </div>
 
 
</div>

