<div style="font-size: medium; font-weight: bold;">
    Upload Files - less than 1.5MB
</div>

<label>Select a File (&lt; 1MB)</label><br/>
<input type="file" (change)="onFileChange($event)" multiple="multiple"/><br/>
<button (click)="uploadFile()" [disabled]="theFiles.length === 0">Upload File</button><br/><br/>

<!-- ** BEGIN: INFORMATION MESSAGE AREA ** -->
<div *ngIf="messages.length > 0">
    <span *ngFor="let msg of messages">
        {{msg}}
        <br />
     </span>
</div>

<div *ngFor="let item of filesUploaded">
    {{item.filesSize}} KB - {{item.fileName}}
</div>

<!-- ** END: INFORMATION MESSAGE AREA ** -->
