<div class="menu" [ngStyle]="{'left.px': x, 'top.px': y}">
     <ul class="list-group">
       <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
         Edit Candidate
         <span class="badge badge-primary badge-pill">Edit this candidate</span>
       </li>
       <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
         View Candidate
         <span class="badge badge-primary badge-pill">View this candidate</span>
       </li>
       <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
         Delete candidate
         <span class="badge badge-primary badge-pill">Delete this candidate</span>
       </li>
     </ul>
   </div>
   