<div class="container d-flex justify-contents-between align-items-center mt-5">

     <button class="stdd mx-2 fa fa-2x fa-mail-forward" routerLink="/admin/cvforward" title="forward shortlited CVs to customers"></button>
     <button class="stdd mx-2 fa fa-2x fa-check-double" routerLink="/admin/selections" title="register selections or rejections by clients"></button>
     <button class="stdd mx-2" routerLink="/admin/employments" title="edit employment details of selected candidates">Employments</button>
     <button class="stdd mx-2" routerLink="/admin/messages" title="messages">Messages</button>
     <button class="stdd mx-2" routerLink="/account/userswithroles" title="edit roles of users">User Roles</button>
     <button class="stdd mx-2" routerLink="/account/identityRoles" title="display list of Roles">List of Roles</button>
     <button class="stdd mx-2 fa fa-home fa-2x" title="go back to home" routerLink=""></button>
</div>