
<div class="container mt-2" *ngIf="data">
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="reviews">
            <div *ngFor="let r of reviews().controls; let i=index;">
                <div [formGroupName]="i">
                    <input type="text" formControlName="orderNo">
                    <input type="text" formControlName="OrderDate">
                    <div formArrayName="reviewItems">
                        <div *ngFor="let item of reviewItems().controls; let j=index">
                            <div [formGroupName]="j">
                                <span class="stdd w200 mx-2 b">Category: </span><input readonly type="text" class="stdd w200 mx-2" formControlName="categoryName">
                                <span class="stdd w50 mx-2 b">Quantity: </span><input readonly type="text" class="stdd w50 mx-2" formControlName="quantity" >
                                <span class="stdd w50 mx-2 b">ECNR: </span><input readonly type="checkbox" class="stdd w50 mx-2" formControlName="ecnr" >
                                <span class="stdd w50 mx-2 b">Assess: </span><input readonly type="checkbox" class="stdd w50 mx-2" formControlName="requireAssess" >
                                <div formArrayName="itemQs">
                                    <button class="stdd fa fa-plus blue" title="add a review parameter" (click)="addReviewQ(i,j)"></button>
                                    <div *ngFor="let q of itemQs().controls; let k=index">
                                        <div [formGroupName]="k">
                                            <input type="text" class="stdd w50" formControlName="srNo">
                                            <input type="checkbox" class="stdd w35" formControlName="isMandatoryTrue" >
                                            <input type="text" class="stdd w250" formControlName="reviewParameter">
                                            <input type="checkbox" class="stdd w35" formControlName="response">
                                            <input type="text" class="stdd w250" formControlName="remarks">
                                            <button class="stdd fa fa-trash red ml-10" (click)="removeItemQ(i,j,k)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>

    <div>
        {{this.form.value | json}}
    </div>


</div>

