.w35 {width: 35px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px}

.stdd {
     display: inline-block;
     margin: 2px;
     padding: 2px;
}

.stddBtn {
     display: inline-block;
     margin-left: 15px;
     padding: 2px;
     text-align: right;
     color: blue;
}

.red {color: red;}

.b {font-weight: bold;}

.floatR {float: right;}