
    <div *ngIf="!customer">
        No record found
    </div>
    <div *ngIf="customer"> 
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <!-- <img src="{{customer.logoUrl || './assets/customer' + customer.id + '.png'}}" alt="{{customer.knownAs}}" 
                            class="card-img-top img-thumbnail"> -->
                        <div class="card-body">
                                <strong *ngIf="customer.customerType==='customer'">Customer:</strong>
                                <strong *ngIf="customer.customerType==='associate'">Associate:</strong>
                                <strong *ngIf="customer.customerType==='supplier'">Supplier:</strong>
                                <p>{{customer.customerName}} ({{customer.knownAs}})</p>
                            <div>
                                <strong>Address:</strong>
                                <p>{{customer.add}}</p>
                                <div *ngIf="customer.add2">
                                    <p>{{customer.add2}}</p>
                                </div>
                            </div>
                            <div>
                                <strong>City: </strong>
                                {{customer.city}} {{customer.pin}}
                            </div>
                            <div>
                                <strong>District: </strong>
                                {{customer.district}}
                                <strong>State: </strong>
                                {{customer.state}}, {{customer.country}} 
                            </div>
                            <div>
                                <strong>website: </strong>
                                {{customer.website}}
                                <p><strong>email: </strong></p>
                                {{customer.email}}
                                <strong>Phones: </strong>
                                {{customer.phone}}, {{customer.phone2}}
                            </div>
                                            
                            <div>
                                <strong>Last Order dated:</strong>
                                
                            </div>
                            <div>
                                <strong>In service since:</strong>
                                {{customer.createdOn | date: 'dd MMM yyyy'}}
                            </div>
                            <div>
                                <strong>Current status:</strong>
                                <span *ngIf="customer.customerStatus!==100" style="color: red;" >{{customer.customerStatus}}</span>
                                <span *ngIf="customer.customerStatus===100" >{{customer.customerStatus}}</span>
                            </div>
                    </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <button class="btn btn-primary" title="grievances/appreciations about this company" routerLink="/client/review/{routerIdValue}" >Review</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-8" style="display: inline-block; vertical-align: top;">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <tabset class="member-tabset" #memberTabs>
                        <tab heading='About {{customer.knownAs}}' (selectTab)="onTabActivated($event)">
                            <div *ngIf="customer.introduction !==''">
                                <p>{{customer.introduction}}</p>
                            </div> 
                            <div *ngIf="customer.introduction ===''">
                                No introduction available
                            </div>
                        </tab>
                        <tab heading='Officials' (selectTab)="onTabActivated($event)" style="font-size: small;">
                            <div class="row">
                                <div class="stdd w50">Gender</div>
                                <div class="stdd w50">Title</div>
                                <div class="stdd w150">Official Name</div>
                                <div class="stdd w100">Designation</div>
                                <div class="stdd w50">Divn</div>
                                <div class="stdd w75">Mobile No</div>
                                <div class="std w150">email</div>
                                <div class="stdd w50">Valid</div>
                                <div style="width: 50px; display: inline-block;">
                                    <button type="button" (click)="addCustomerOfficial()" class="stdd alignR fa fa-plus blue"></button>
                               </div>
                            </div> 
                            <div formArrayName="customerOfficials" class="my-1 px-0" style="height: 10px; font-size: small;" >
                                <div *ngFor="let item of customer.customerOfficials" let i=index>
                                    <div [formGroupName]="i">
                                        <input type="text" formControlName="gender" class="stdd w50" >
                                        <input type="text" formControlName="title" class="stdd w50" >
                                        <input type="text" formControlName="officialName" class="stdd w150" >
                                        <input type="text" formControlName="designation" class="stdd w100" >
                                        <input type="text" formControlName="divn" class="stdd w50" >
                                        <input type="text" formControlName="mobile" class="stdd w75" >
                                        <input type="text" formControlName="email" class="stdd w150" >
                                        <input type="checkbox" formControlName="isValid" class="stdd w50" >
                                        <button (click)="removeCustomerOfficial(i)" class="stdd blue fa fa-trash" title="Remove the customer official"> </button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="customer.customerOfficials.length ===0">
                                No officials on record
                            </div>
                        </tab>
                        
                        <div *ngIf="customer.customerType==='customer'">
                            <tab heading='Industries' (selectTab)="onTabActivated($event)" style="font-size: small;">
                                <div class="stdd w200">Industry Name</div>
                                <div style="width: 50px; display: inline-block;">
                                    <button type="button" (click)="addCustomerIndustry()" class="stdd alignR fa fa-plus blue"></button>
                               </div>
                               <div formArrayName="customerIndustries" class="my-1 px-0" style="font-size: small;" >
                                    <div *ngFor="let ind of customer.customerIndustries" let i=index>
                                        <div [formGroupName]="i">
                                            <ng-select *ngIf="industries" class="stdd w200" 
                                                [items]="industries"
                                                bindLabel="name"
                                                bindValue="id"
                                                labelForId="industryId"
                                                placeholder="Select Industry"
                                                clearAllText="Clear"
                                                formControlName="industryId">
                                            </ng-select>
                                            <button (click)="removeCustomerIndustry(i)" class="stdd blue fa fa-trash" title="Remove the customer official"> </button>
                                        </div>
                                    </div>
                               </div>
                                <div *ngIf="!customer.customerIndustries">
                                    No industries defined for the customer
                                </div>
                            </tab>
                        </div>
                        <div *ngIf="customer.customerType==='associate'">
                            <tab heading='Agency Specialties' (selectTab)="onTabActivated($event)" style="font-size: small;">
                                <div class="stdd w200">Category can provide</div>
                                <div style="width: 50px; display: inline-block;">
                                    <button type="button" (click)="addAgencySpecialty()" class="stdd alignR fa fa-plus blue"></button>
                               </div>
                               <div formArrayName="agencySpecialties" class="my-1 px-0" style="font-size: small;" >
                                    <div *ngFor="let ind of customer.agencySpecialties" let i=index>
                                        <div [formGroupName]="i">
                                            <ng-select *ngIf="professions" class="stdd w200" 
                                                [items]="professions"
                                                bindLabel="name"
                                                bindValue="id"
                                                labelForId="professionId"
                                                placeholder="Select Category"
                                                clearAllText="Clear"
                                                formControlName="professionId">
                                            </ng-select>
                                            <button (click)="removeCustomerIndustry(i)" class="stdd blue fa fa-trash" title="Remove the customer official"> </button>
                                        </div>
                                    </div>
                               </div>
                                <div *ngIf="!customer.agencySpecialties">
                                    No specialties defined for the Associate
                                </div>
                            </tab>
                        </div>

                        <tab heading='Orders In Process' (selectTab)="onTabActivated($event)">
                            <!-- <app-member-messages [username]="member.username"></app-member-messages> -->
                            <h1>Nothing in order to process</h1>
                        </tab>
                    </tabset>
                    </form>
                </div>
            </div>
</div> 
