<div class="stdd col-2 borderBlue" >
    <div class="form-check">
        <label class="stdd">Create new History record</label>
        <input type="checkbox"
            class="stdd mx-2 form-check-input"
            [checked]="candidateFromDb"
            value="candidateFromDb"
            (change)="candidateFromDb = !candidateFromDb"
        >
    </div>

    <form #frm="ngForm" id="frm">
        <div class="form-check" style="font-size: medium;">
            <label class="stdd w150">Application No.</label>
            <input class="stdd w200" type="text" name="applicationNo" 
                 ngModel id="mobileNo" [(ngModel)]="histParams.applicationNo" >
       </div>
        <div class="form-check" style="font-size: medium;">
             <label class="stdd w150">Mobile No.</label>
             <input class="stdd w200" type="text" name="mobileNo" 
                  ngModel id="mobileNo" [(ngModel)]="histParams.mobileNo" >
        </div>
        <div class="form-check" style="font-size: medium;">
             <label class="stdd w150">Email Id</label>
             <input class="stdd w200" type="text" name="emailId" 
                  ngModel id="emailId" [(ngModel)]="histParams.emailId" >
        </div>
        <div class="form-check">
            <label>Person Type</label>
            <div class="w200 form-group">
                <input type="radio" name="personType" value="candidate"
                ngModel [(ngModel)]="histParams.personType" > candidate
            <input type="radio" name="personType" value="customer"
                ngModel [(ngModel)]="histParams.personType" > customer
            <br>
            <input type="radio" name="personType" value="associate"
                ngModel [(ngModel)]="histParams.personType" > associate
            <input type="radio" name="personType" value="vendor" 
                ngModel [(ngModel)]="histParams.personType" > vendor

            </div>
        </div>
   
        <div class="form-check" style="font-size: medium;">
             <label class="stdd w150">Name :</label>
             <input class="stdd w200" type="text" name="personName" 
                  ngModel id="passportNo" [(ngModel)]="histParams.personName" >
        </div>
        <button type="button" title="retrieve entity from Database based upon above inputs" class="btn btn-default pull-right" (click)="getCandidate()">Get Caller History"</button>
        
        <div class="stdd red" style="vertical-align: bottom;">{{err}}</div>
    </form>
</div>

<div class="stdd col-10 vAlignT" >
        <form [formGroup]="form" >  <!-- (ngSubmit)="onSubmit()"> -->
            <div *ngIf="member">
                <div class="stdd b blue" >User Name:</div>
                <div class="stdd mx-2">{{member.personName}}</div>
                
                <div class="stdd b blue">Phone No.:</div>
                <div class="stdd mx-2" >{{member.phoneNo}}</div>
                <div class="stdd b blue">Email:</div>
                <div class="stdd mx-2">{{member.emailId}}</div>
                <div class="stdd b blue">App No.:</div>
                <div class="stdd mx-2">{{member.applicationNo}}</div>
                <div class="stdd b blue">Created on:</div>
                <div class="stdd mx-2">{{member.createdOn | date}}</div>
                <div class="stdd alignR w400">
                    <button [disabled]="!form.dirty" title="save the transactions" type="submit" class="stdd btn btn-success pull-right fa fa-save" (click)="Update()" >
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    </button>
                    <button type="button" class="stdd btn btn-primary fa fa-home alignR" title="go back to home" (click)="routeChange()"></button>
                </div>            
    
            </div>
            <hr>

            <div class="my-2">
            <div style="font-weight: bold;">
                    <div class="stddmx2 w175" >Contacted On</div>
                    <div class="stddmx2 w175 mx-1">Subject</div>
                    <div class="stddmx2 w125" >Category Ref</div>
                    <div class="stddmx2 w125 mx-1" >Phone No</div>
                    <div class="stddmx2 w400" >discussion</div>
                    <div class="stddmx2smaller w300" >Result</div>
                    <div class="stdd">
                        <button type="button" (click)="addUserHistoryItem()" title="add a new transaction" [disabled]="!member" class="stddmx2 btn btn-success alignR fa fa-plus blue"></button>
                    </div>
                </div>
        </div>
        <div formArrayName="userHistoryItems" class="my-1 mx-1">
            <div *ngFor="let item of userHistoryItems.controls; let i=index">
                <div [formGroupName]="i" >
                    <input class="stddmx2 w150 input"
                        type="text"
                        placeholder="Contacted On"
                        formControlName="dateOfContact"
                        bsDatepicker
                        [bsValue]="bsValueDate"
                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                    >   
                    <input type="text" formControlName="subject" class="input stddmx2 w175 mx-1" (dblclick)="subjectDblClick(i)" >
                    <input type="text" formControlName="categoryRef" class="input stddmx2 w125" (dblclick)="categoryDblClick(i)" >
                    <input type="text" formControlName="phoneNo" class="input stddmx2 w125 mx-1" >
                    <textarea cols="41" rows="2" formControlName="gistOfDiscussions" class="input stddmx2"></textarea>
                    
                    <ng-select *ngIf="contactResults" class="stddmx2smaller w300"
                        [items]="contactResults"
                            bindLabel="name"
                            bindValue="id"
                            labelForId="id"
                            placeholder="Result"
                            clearAllText="Clear"
                            formControlName="contactResult">
                        </ng-select>
                    
                    <!-- <label class="stdd w150">{{member.loggedInUserName}}</label> -->
                    <button (click)="displayModalReminder()" class="stdd btn ml-1 blue fa fa-bell" title="Create a reminder task"> </button>
                    <button (click)="removeUserHistoryItem(i)" class="stdd btn ml-1 red fa fa-trash" title="Remove the transaction record"> </button>
                </div>
            </div>
        </div>
        </form>            
    </div>

<ul class="text-danger list-unstyled" *ngIf="errors">
    <li *ngFor="let error of errors">
            {{error}}
    </li>
</ul>
    <div>
        {{this.form.value | json}}
    </div>
 

