<div *ngIf="!stddqs">
     No standard assessment questions on record
</div>
<div *ngIf="stddqs">
     <div class="stddmx2" *ngFor="let q of stddqs">
          <div class="stddmx2 w75">{{q.qNo}}</div>
          <div class="stddmx2 w150" >{{q.assessmentParameter}}</div>
          <div class="stddmx2 w400" title="edit this question" routerLink="/hr/edit/{{q.id}}">{{q.question}}</div>
          <div class="stddmx2 w75">{{q.maxPoints}}</div>
          <div class="stddmx2 w75 fa fa-trash alignR" (click)="deletestddq(q.id)"></div>
     </div>
</div>
