<div class="row" style="font-size: smaller;">
     <div class="mx-5">
          <div class="d-flex justify-contents-between align-items-center">
               <!-- <app-paging-header [totalCount]="totalCount" [pageNumber]="qBankParams.pageNumber" [pageSize]="qBankParams.pageSize"></app-paging-header>
               -->
               <div class="d-flex justify-contents-between align-items-center">
                    <div class="form-inline mt-2" *ngIf="qs">
                         <input (keyup.enter)="onSearch()" type="text" class="form-control ml-5" #search style="width: 300px; font-size: small;" placeholder="Search">
                         <button (click)="onSearch()" class="btn btn-outline-primary my-1" style="font-size: small;">Search</button>
                         <button (click)="onReset()" class="btn btn-outline-success ml-2 my-1" style="font-size: small;">Reset</button>
                         <button class="btn btn-outline-success ml-2 my-1 fa fa-plus" routerLink="/hr/qBankAdd"></button>
                    </div>
               </div>
          </div>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
               <div formArrayName="categories">
                    <div *ngFor="let cat of categories().controls; let categoryIndex = index ">
                         <div [formGroupName]="categoryIndex">
                              {{categoryIndex}}
                              <div>{{q.categoryName}}</div>     
                              <button class="fa fa-trash alignR" (click)="removeCategory(categoryIndex)"></button>
                         </div>

                         <div style="width: 200px; display: inline-block;">
                              <button type="button" (click)="addAssessmentQBank()" class="px-15 fa fa-plus" style="color: blue; float: right;"></button>
                         </div>
                         <div formArrayName="assessmentQBankItems">
                              <div *ngFor="let item of assessmentQBankItems(categoryIndex).controls; let itemIndex=index">
                                   <div [formGroupName]="itemIndex">
                                        <div style="display: inline-block; width: 35px;">
                                             {{itemIndex+1}}
                                        </div>
                                        <div class="my-2" style="font-size: small;">
                                             <div class="stddmx2 b w100">Parameter</div>
                                                  <input class="stdd w200" type="text" formControlName="assessmentParameter" >
                                             <div class="stddmx2 b w100">Q No</div>
                                                  <input class="stddmx2 w50" type="text" formControlName="qNo" >
                                             <div class="stddmx2 b w100">Question</div>
                                             <textarea class="form-control stddmx2" formControlName="question" 
                                                  rows="4" cols="25" style="margin-left: 10px;">
                                             </textarea>     
                                             <div class="stddmx2 b w100">Is Standard Q</div>
                                                  <input class="stddmx2 w50" type="checkbox" formControlName="isStandardQ" >
                                             <div class="stddmx2 b w100">Max Points</div>
                                                  <input class="stddmx2 w100" type="text" formControlName="knownAs">
                                        </div>
                                        <div style="width: 50px; display: inline-block;">
                                             <button (click)="removeAssessmentQBankItem(categoryIndex, itemIndex)" class="fa fa-trash" style="color:red; float: right;"></button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </form>            
          <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="totalCount > 0">
               <app-pager 
                    [pageSize]="qBankParams.pageSize" [totalCount]="totalCount" [pageNumber]="cvParams.pageNumber" (pageChanged)="onPageChanged($event)"  >
               </app-pager>
          </div>
     </div>
</div>
