<div class="container d-flex justify-contents-between align-items-center mt-5">
     <button class="stdd mx-2 fa fa-question" title="Standard assessment questions" routerLink="/hr/stddqs"></button>
     <button class="stdd mx-2 fa fa-question fa-user" title="Assessment Questions from Question Bank" routerLink="/hr/qs" >Question Bank</button>
     <button class="stdd mx-2 fa fa-list" title="candidate check lists"></button>
     <button class="stdd mx-2 fa fa-question ">Assessment Questions<br>for Order Items</button>
     <button class="stdd mx-2 fa fa-mail-forward" title="forward shortlisted CVs to clients" routerLink="/hr/cvforward" ></button>
     <button class="stdd mx-2" title="test hr form arrays" routerLink="/orders/teachers" ></button>
     <button class="stdd mx-2 fa fa-home fa-2x" routerLink=""></button>
</div>