<div *ngIf="cv===null">
     No candidate detail available
</div>
<div *ngIf="cv!==null" class="col-12">
     <div class="stdd row mb-0">
          <div class="stdd form-check mx-1 w10" >
               <input type="checkbox"
                   class="form-check-input"
                   [checked]="cv.checked"
                   value="cv.id"
                   (change)="cv.checked = !cv.checked"
               >
               <!-- [disabled]="role.name === 'Admin' && user.username === 'admin'"
               <label>{{role.name}}</label> -->
           </div>

          <div class="stdd w50" title="click to edit" routerLink="/candidate/edit/{{cv.id}}" >  {{cv.applicationNo}}</div>
          <!-- <app-right-click-menu *ngIf="!isHidden" [x]="xPosTabMenu" [y]="yPosTabMenu" ></app-right-click-menu> -->
          <div class="stdd mx-1 w200" routerLink = "/candidate/historyfromcvid/{{cv.id}}" title="contact history of the candidate" >{{cv.fullName}}</div> 
          <div class="stdd mx-1 w70">{{cv.city}}</div>
          <div class="stdd mx-1 w200" >{{cv.referredByName}}</div>
          <div class="stdd mx-1 w200" style="border:aqua" >
               <span style="white-space: normal;" *ngFor="let item of cv.userProfessions">
                    {{item.profession}} <div style="display: inline-block" *ngIf="cv.userProfessions.length>1">,</div>
               </span>
          </div> 
          
     <!-- 
               <tx-document-viewer width="800px" class="stdd w100"
               height="800px"
               basePath="https://localhost:5001"
               dock="Fill"
               toolbarDocked=true
               isSelectionActivated=true
               showThumbnailPane=true>
          </tx-document-viewer>
     
          <div class="stdd mx-1 w100 fa fa-eye" (click)="onClickLoadDocument(cv.id)"></div>
-->
               <!-- <button class="w30 fa fa-pencil" style="display: inline-block;" type="button" routerLink="/candidate/edit/{{cv.id}}" ></button> -->
               <!-- <button class="stdd fSmall fa fa-eye" type="button" routerLink="/candidate/view/{{cv.id}}" ></button> -->
               <button class="stdd w25 fSmall mx-1 fa fa-trash red" type="button" routerLink="/candidate/delete/{{cv.id}}" ></button>
               <button class="stdd w25 fSmall fa fa-balance-scale" title="Assess this candidate" routerLink="/hr/cvassess/{{cv.id}}" ></button>
               <button class="stdd w25 fSmall ml-1 fa fa-download" type="button" title="download candidate profile" (click)="download(cv.id)" download></button>
          <!-- <app-cv-assess *ngIf="currentId===item.id" [header]="header" [candidateAssessment]="assessment" ></app-cv-assess> -->
     </div>
</div>

