<div *ngIf="cv===null">
     No candidate detail available
</div>
<div *ngIf="cv!==null">
     <div class="row mb-0" style="padding: 0px; display: inline-block;">
          <div class="form-check" style="display: inline-block; margin-left: 2px; width: 10px;">
               <input type="checkbox"
                   class="form-check-input"
                   [checked]="cv.checked"
                   value="cv.id"
                   (change)="cv.checked = !cv.checked"
               >
               <!-- [disabled]="role.name === 'Admin' && user.username === 'admin'"
               <label>{{role.name}}</label> -->
           </div>

          <div class="stdd w50" title="click to edit" routerLink="/candidate/edit/{{cv.id}}" >  {{cv.applicationNo}}</div>
          <!-- <app-right-click-menu *ngIf="!isHidden" [x]="xPosTabMenu" [y]="yPosTabMenu" ></app-right-click-menu> -->
          <div class="stdd w200" routerLink="/candidate/history/{{cv.id}}" title="contact history of the candidate" >{{cv.fullName}}</div>
          <div class="stdd w70">{{cv.city}}</div>
          <div class="stdd w200" >{{cv.referredByName}}</div>
          <div class="stdd w200" >
               <span style="white-space: normal;" *ngFor="let item of cv.userProfessions">
                    {{item.profession}} <div style="display: inline-block" *ngIf="cv.userProfessions.length>1">,</div>
               </span>
          </div> 
          <tx-document-viewer width="800px"
               height="800px"
               basePath="https://localhost:5001"
               dock="Fill"
               toolbarDocked=true
               isSelectionActivated=true
               showThumbnailPane=true>
          </tx-document-viewer>
          <div class="stdd w70" (click)="onClickLoadDocument(cv.id)">view document</div>
          <div style="display: inline-block; width: 200px; vertical-align: top;">
               <!-- <button class="w30 fa fa-pencil" style="display: inline-block;" type="button" routerLink="/candidate/edit/{{cv.id}}" ></button> -->
               <button class="w30 fa fa-eye mx-1" style="display:inline-block" type="button" routerLink="/candidate/view/{{cv.id}}" ></button>
               <button class="w30 fa fa-trash red" style="display: inline-block;" type="button" routerLink="/candidate/delete/{{cv.id}}" ></button>
               <!-- <button class="w30 fa fa-upload ml-1" style="display: inline-block;" type="button" routerLink="/candidate/view/{{cv.id}}"></button> -->
          </div>
     </div>
</div>

