<div class="stdd col-3">
     <div class="mb-4">
          <div class="btn-group" name='container'>
               <button class="btn btn-primary" btnRadio='Unread'  
                    (click)="getMessages()">
                    <i class="fa fa-envelope"></i> Unread
               </button>
               <button class="btn btn-primary" btnRadio='Inbox' 
                    (click)="getInboxMessages()">
                    <i class="fa fa-envelope-open"></i> Inbox
               </button>
               <button class="btn btn-primary" btnRadio='Sent' 
                    (click)="getOutboxMessages()">
                    <i class="fa fa-paper-plane"></i> Sent
               </button>
               <button class="btn btn-primary" btnRadio='Drafts' 
                    (click)="getDraftMessages()">
                    <i class="fa fa-plane"></i> Drafts
               </button>
          </div>
          <br>
          <div class="d-flex mt-2" *ngIf="totalCount > 0">
               <app-pager 
                    [pageSize]="mParams.pageSize" 
                    [totalCount]="totalCount" 
                    [pageNumber]="mParams.pageIndex" 
                    (pageChanged)="onPageChanged($event)"  >
               </app-pager>
          </div>
          <div class="stdd w100" *ngIf="container==='sent' || container==='draft' ">Recipient</div>
          <div class="stdd w100" *ngIf="container==='inbox'">Sender</div>
          <div class="stdd w100" *ngIf="container==='sent'">Sent On</div>
          <div class="stdd w100" *ngIf="container==='inbox' || container==='draft' ">Message dated</div>
          <div class="stdd w150">Subject</div>       
          <div *ngFor="let msg of messages">
               <div class="stdd w100">{{msg.senderUsername}}</div>
               <div class="stdd w75" title="click to display the message" >{{msg.messageSentOn | date: 'd-MMM-yy' }}</div>  
               <div class="stdd w100 my-1" title="click to display the message" (click)="setMessageFromUsername(msg)"  >{{msg.recipientUserName}}</div>
               <div class="stdd w150">{{msg.subject.substr(1,150)}}</div>
               <button (click)="$event.stopPropagation()" (click)="deleteMessage(msg.id)" type="button" class='stdd btn btn-danger fa fa-trash'></button>
               <!-- 
                    <button [disabled]=" !message || msg.messageSentOn===null" (click)="saveMessage(msg.id)" class='stdd btn mx-1 fa fa-save '></button>
               <button [disabled]=" !message || msg.messageSentOn!==null" (click)="saveandsend()" class='stdd btn fa fa-paper-plane '></button>
               -->
          </div>
     </div>
</div>

<div class="stdd col-9" style="vertical-align: top;" >
     <div class="row" *ngIf="messages?.length === 0">
          <div *ngIf="mParams.container==='Inbox'">
          No Inbox messages for the logged in user
          </div>
     </div>
     <div class="row" *ngIf="messages?.length === 0">
     <div *ngIf="mParams.container==='sent'">
          No Sent messages for the logged in user
     </div>
     </div>
     <div class="row" *ngIf="messages?.length === 0">
     <div *ngIf="mParams.container==='Unread'">
          No Unread messages for the logged in user
     </div>
     </div>

     <div class="row container" *ngIf="message">
          <div class="stdd b w50 my-1">From</div>
          <input class="stdd mx-1 w350" type="text" [(ngModel)]="message.senderEmailAddress" id="message.senderEmailAddress" name="message.senderEmailAddress">
          <div class="stdd b mx-1 w90" style="text-align: right;">Date Sent</div>
          <input class="stdd mx-1 w300" type="text" [(ngModel)]="message.messageSentOn" id="message.messageSentOn" name="message.messageSentOn">
          
          <div class="my-1">
               <div class="stdd b w50">To</div>
               <input class="stdd mx-1 w250" type="text" [(ngModel)]="message.recipientEmailAddress" id="message.recipientEmailAddress" name="message.recipientEmailAddress" >
               <div class="stdd b w40" style="text-align:right">CC</div>
               <input class="stdd mx-1 w250" type="text" [(ngModel)]="message.ccEmailAddress" id="message.ccEmailAddress" name="message.ccEmailAddress" >
               <div class="stdd b w40" style="text-align:right;">BCC</div>
               <input class="stdd mx-1 w250" type="text" [(ngModel)]="message.bccEmailAddress" id="message.bccEmailAddress" name="message.bccEmailAddress" >
          </div>

          <div class="my-1">
               <div class="stdd b w50 my-1">Subject</div>
               <input class="stdd mx-1 w600" type="text" [(ngModel)]="message.subject" id="message.subject" name = "message.subject">
               <button type="button" class="btn mx-2 btn-success fa fa-paper-plane" (click)="sendMessage()"
                     [disabled]="container!=='draft' && messageSentOn===null" style="text-align:right;" ></button>
               <button type="button" class="fa fa-trash" (click)="deleteMessage()"
                     style="text-align:right;" ></button>
               
          </div>
          <div>
               <angular-editor [placeholder]="'Message contents'" [(ngModel)]="message.content" [config]="editorConfig" name="message.content" ></angular-editor> 
          </div>
          
     </div>
</div>


 

 <!--

<div class="row">
     <div class="col-2">
          <ng-container>
               <div class="stdd b w50 blue">Sort</div>
                    <select name="" id="" class="custom-select mb-2" (change)="onSortSelected($event.target.value)">
                         <option *ngFor="let sort of sortOptions"
                              [value] = "sort.value"
                         >{{sort.name}}</option>
                    </select>
                    <ul class="list-group mb-3">
                         <li class="list-group-item" *ngFor="let message of emails"
                             [class.active]="message.id === mParams.id" [value]="message.id"
                             (click)="onMsgSelected(message.id)">
                             {{message.senderUsername + ' dt ' + message.messageSent || date}}
                         </li>
                     </ul>
          </ng-container>
     </div>

     <div class="col-10">
          <app-paging-header 
               [totalCount]="totalCount" 
               [pageNumber]="mParams.pageNumber" 
               [pageSize]="mParams.pageSize">
          </app-paging-header>

          <div class="d-flex justify-contents-between align-items-center">
               <div class="form-inline mt-2" *ngIf="emails">
                    <input (keyup.enter)="onSearch()" type="text" class="stdd form-control w300" #search placeholder="Search">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-1">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success mx-2 my-1">Reset</button>
                    <button class="btn btn-outline-success ml-2 my-1 fa fa-plus" routerLink="/messages/add"></button>
               </div>
          </div>
     </div>
     <div *ngFor="let message of emails; let i=index;">
          <div class="col-6">
               <label class="stdd w100">Date</label>
               <input type="text" class="stdd w100" [(ngModel)]="messageSent" [name]="messageSent" + i >
               <input class="stdd w125"
                    type="text"
                    placeholder="Order Date"
                    bsDatepicker
                    [bsValue]="bsValueDate"
                    [(ngModel)]="messageSent"
                    [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
               >
               <br>
               <label class="stdd w100">From</label>
               <input type="text" class="stdd w100" [(ngModel)]="senderUsername" [name]="senderUsername" + i >
          </div>
          <div class="col-6">
               <label class="stdd w100">To</label>
               <input type="text" class="stdd w100" [(ngModel)]="recipientUsername" + i [name]="recipientUsername" + i >
               <br>
               <label class="stdd w100">Subject</label>
               <input type="text" class="stdd w100" [(ngModel)]="subject" [name]="subject" + i >
          </div>
          <div>
               <label class="stdd w100">Message</label>
               <textarea name="content" id="" cols="60" rows="10" [(ngModel)]="content" [name]="content" + i ></textarea>
          </div>
     
     </div>

     <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="totalCount > 0">
          <app-pager 
               [pageSize]="mParams.pageSize" 
               [totalCount]="totalCount" 
               [pageNumber]="mParams.pageNumber" 
               (pageChanged)="onPageChanged($event)"  >
          </app-pager>
     </div>

     <button class="stdd mx-2 btn btn-success fa fa-save" (click)="saveandclose()" >Save & Close</button>
     <button class="stdd mx-2 btn btn-success fa fa-sendmail" (click)="saveandsend()">Save & Send</button>
</div>
-->