<div class="mx-2">
     <div> <strong>Edit Contract Review of a category</strong>
          <div><strong>Category: </strong>{{review.categoryName}} </div>
          <div><strong>Customer:</strong> {{review.customerName}}</div>
          <div><strong>Order No:</strong> {{review.orderNo}} <strong>dtd</strong>:{{review.orderDate | date}}</div>
     </div>
     <br>
     <div style="font-size: small; vertical-align: middle;">
          <div style="display: inline-block; width: 50px; font-weight: bold;">Sr#</div>
          <div style="display: inline-block; width: 300px; font-weight: bold;">Review Parameter</div>
          <div style="display: inline-block; width: 40px; margin-left: 1px; padding: 1px; font-size: small; font-weight: bold;">Manda<br>tory</div>
          <div style="display: inline-block; width: 40px; margin-left: 1px; padding: 1px; font-size: small; font-weight: bold;">Res<br>ponse</div>
          <!-- <form #form="ngForm" id="form"> -->
                 <div class="form-control" *ngFor="let item of review.reviewItems">
                    <label style="width: 50px; ">{{item.srNo}}</label>
                    <label style="width: 300px; vertical-align: top; font-size: small;">{{item.reviewParameter}}</label>
                    <label style="width: 40px; vertical-align: middle; display: inline-block;">{{item.isMandatoryTrue ? 'Y': 'N'}}</label>
                    <div *ngIf="item.isResponseBoolean" style="display: inline-block; vertical-align: middle;
                         margin-left: 1px; padding-left: 1px;">
                         <input type="checkbox" class="form-check-input" style="display: inline-block;
                              vertical-align: middle;"
                              [checked]="item.response" value="item.response" 
                              (change)="item.response = !item.response" >
                    </div>
                    <div *ngIf="!item.isResponseBoolean" style="display: inline-block; vertical-align: middle;
                         margin-left: 1px; padding-left: 1px;"> 
                         <input class="form-text-input" style="width: 60px; display: inline-block; font-size: small;
                              vertical-align: middle;" 
                         id="responseText" name="responseText" 
                              [(ngModel)]="item.responseText" value="item.responseText" >
                    </div>
               </div>
               <br>
               <div>
                    <label><strong>Status</strong></label>
                    <ng-select *ngIf="reviewStatus" 
                         style="display: inline-block; font-size: small; width: 300px; margin-left: 5px; margin-bottom: 10px;"
                         [items]="reviewStatus"
                         bindLabel="statusName"
                         bindValue="id"
                         labelForId="reviewItemStatus"
                         placeholder="Select Status"
                         clearAllText="Clear"
                         [(ngModel)]="review.reviewItemStatus"
                         name="reviewItemStatus"
                         id="reviewItemStatus"
                         >
                    </ng-select>
                    <button style="display: inline-block; margin-left: 15px;" type="button" class="stdd btn btn-success fa fa-save" (click)="confirm()"></button>
                    <button style="display: inline-block; margin-left: 10px;" type="button" class="stdd btn btn-danger fa fa-window-close red" (click)="decline()"></button>
               </div>
          
          <!-- </form> -->
     
     </div>
     
</div>
