<div class="ml-2 b">Candidate Checklist prior to shortlisting for recruitment</div>

<div class="col-12 fontSmall " *ngIf="chklst">
     <form [formGroup]="form" >
          <div class="stdd w250">{{chklst.candidateName}}, Application No.: {{chklst.applicationNo}} </div>
          <div class="stdd w250 smalLFont">{{chklst.orderRef}}</div>
          <hr>
          <button type="button" (click)="addChecklistItem()" class="stdd fa fa-plus blue alignR"></button>
          <div class="my-1 px-2 smallFont" formArrayName="checklistHRItems" >
               <div *ngFor="let item of checklistHRItems.controls; let i=index">
                    <div [formGroupName]="i">
                         <input class="stdd w40 mx-1" type="text" formControlName="id">
                         <input class="stdd w40 mx-1" type="text" formControlName="checklistHRId">
                         <input class="stdd w40 mx-1" type="checkbox" formControlName="mandatoryTrue" readonly >
                         <input class="stdd w50 mx-1" type="text" formControlName="srNo">
                         <input class="stdd w250 mx-1" type="text" formControlName="parameter">
                         <input class="stdd w40 mx-1" type="checkbox" formControlName="accepts">
                         <input class="stdd w200 mx-1" type="text" formControlName="response">
                         <input class="stdd w250 mx-1"  type="text" formControlName="exceptions">
                         <button (click)="removeChecklistItem(i)" class="stdd red fa fa-trash ml-1" title="remove this item"></button>
                    </div>
               </div>
          </div>
          <button type="submit" class="fa fa-save w30" (click)="updateChecklist()" title="Save the checklist parameters" >
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
         
     </form>
</div>
