<div *ngIf="emp===null">
     No employee data available
</div>
<div *ngIf="emp!==null">
     <div class="row stdd " >
          <!-- <div class="stdd w50"> {{emp.id}}</div> -->
          <div class="stdd w70"> {{emp.gender}}</div>
          <div class="stdd w200" > {{emp.firstName + ' ' + emp.secondName??'' + '' + emp.familyName ?? ''}}</div>
          <div class="stdd w70">{{emp.knownAs}}</div>
          <div class="stdd w250">{{emp.position}}</div>
          <div class="stdd w250">{{emp.department}}</div>
          <div style="display: inline-block; width: 200px; line-height: 1em;">
               <button class="btn btn-outline-success fa fa-pencil blue" type="button" routerLink="/employee/edit/{{emp.id}}" ></button>
               <button class="mx-1 btn btn-outline-secondary fa fa-eye blue" type="button" routerLink="/employee/view/{{emp.id}}"  ></button>
               <button class="btn btn-outline-secondary fa fa-trash red" type="button" routerLink="/employee/delete/{{emp.id}}" ></button>
          </div>
     </div>
</div>

