<div class="stdd col-2">
          
          <div *ngIf="candidateCities && professions && agents ">
               <div class="stdd w50 b" >Sort</div>
               <select name="" id="" class="custom-select mb-2" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions"
                         [value] = "sort.value"
                    >{{sort.name}}</option>
               </select>
               <div class="stdd w50 b">City</div>
               <select name="" id="" class="custom-select mb-2"  (change)="onCitySelected(city.city)">
                    <option *ngFor="let city of candidateCities"
                         [value] = "city.city"
                         [class.active]="city.city === cvParams.City"
                    >{{city.city}}</option>
               </select>
               <div class="stdd b w50" >Agents</div>
               <select name="" id="" class="custom-select mb-2" (change)="onAgentSelected(agent.id)">
                    <option *ngFor="let agent of agents"
                         [value] = "agent.id"
                         [class.active]="agent.Id === cvParams.agentId"
                    >{{agent.customerName}}</option>
               </select>

               <div class="stdd b w50">Professions</div>
               <select name="" id="" class="custom-select mb-2" (change)="onCategorySelected(id)" >
                    <option *ngFor="let cat of professions"
                         [value] = "cat.id"
                         [class.active]="cat.Id === cvParams.professionId"
                         (click)="onCategorySelected(cat.id)"
                    >{{cat.name}}</option>
               </select>
               <!-- change to ng-Select, as it loads items dynamically -->
               <!-- <div class="overflow-box">
                    <ng-select placeholder="Select some items"
                         [items]="professions"
                         [(ngModel)]="selectedProfIds"
                         bindLabel="name"
                         bindValue="id"
                         [multiple]="true"
                         (open)="onOpen()"
                         (close)="onClose()"
                         (focus)="onFocus($event)"
                         (search)="onSearch($event)"
                         (blur)="onBlur($event)"
                         (clear)="onClear()"
                         (add)="onAdd($event)"
                         (scrollToEnd)="onScrollToEnd($event)"
                         (remove)="onRemove($event)"
                         (change)="onChange($event)">
                    </ng-select>
                </div>
               -->

          </div>
     
</div>
<div class="stdd col-10">
          <div class="d-flex justify-contents-between align-items-center">
               <app-paging-header [totalCount]="totalCount" [pageNumber]="cvParams.pageNumber" [pageSize]="cvParams.pageSize"></app-paging-header>

               <div class="d-flex justify-contents-between align-items-center">
                    <div class="form-inline mt-2" *ngIf="cvs">
                         <input (keyup.enter)="onSearch()" type="text" class="form-control ml-5 w300" #search placeholder="Search">
                         <button type="button" (click)="onSearch()" class="btn btn-outline-primary mx-1 my-1" style="font-size: small;">Search</button>
                         <button type="button" (click)="onReset()" class="btn btn-outline-success mx-1 my-1" style="font-size: small;">Reset</button>
                         <button type="button" (click)="onCategoryRef()" class="btn btn-outline-success mx-1 my-1" style="font-size: small;">Category Ref</button>
                         <button type="button" class="btn btn-outline-success ml-2 my-1 fa fa-plus" routerLink="/cv/add"></button>
                    </div>
               </div>
          </div>
          <div class="stdd b">
               <div class="stdd ml-3 w50">Appl No</div>
               <div class="stdd w200 mx-1">Candidate Name</div>
               <div class="stdd w70 mx-1">City</div>
               <div class="stdd w200 mx-1">Agent</div>
               <div class="stdd w200 mx-1">Professions</div>
          </div>
          <div class="row" *ngFor="let cv of cvs" >
               <app-candidate-item [cv]="cv" 
                    (msgEvent)="showDocumentViewer($event)" 
                    (downloadEvent)="downloadfile($event)" 
               ></app-candidate-item>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-2" *ngIf="totalCount > 0">
               <app-pager 
                    [pageSize]="cvParams.pageSize" [totalCount]="totalCount" [pageNumber]="cvParams.pageNumber" (pageChanged)="onPageChanged($event)"  >
               </app-pager>
          </div>

</div>

