
<div class="mx-3">
     <div *ngIf="cvAssessed.length===0">
          No Candidates pending for CV Referrals
     </div>

     <div *ngIf="cvAssessed.length > 0">
          <strong>candidates shortlisted for forwarding to clients.  Disabled if service charges not resolved</strong> 
          <form #form="ngForm" id="form">
               <label class="lbl mx-2 w75">Check</label>
               <label class="lbl mx-2 w200">Customer</label>
               <label class="lbl mx-2 w150">Order Category Ref</label>
               <label class="lbl mx-2 w50">Appl #</label>
               <label class="lbl mx-2 w150">Candidate Name</label>
               <label class="lbl mx-2 w100">Assessed On</label>
               <label class="lbl mx-2 w150">Assessed By</label>
               <label class="lbl mx-2 w100">Assessment Result</label>
               <label class="lbl mx-2 w50" style="font-size: small;">Requires<br>Internal<br>Review</label>
               <label class="lbl mx-2 w75">Charges</label>
               <label class="lbl mx-2 w75">Remarks</label>
               <button type="button" class="btn btn-success fa fa-check" title="forward selected CVs to respective clients" (click)="forwardSelected()" ></button>  
               <button class="stdd btn btn-default fa fa-2x fa-window-close" title="Close this form "  (click)="routeChange()" ></button>

               <div *ngFor="let item of cvAssessed">
                    <div class="stdd mx-10 form-check" style="text-align: center;">
                         <input type="checkbox"
                         title="disabled if charges not agreed"
                         class="form-check-input mx-10"
                         [checked]="item.checked"
                         [value]="item.checked"
                         (change)="item.checked = !item.checked"
                         [disabled]="item.charges!=='Agreed' && item.charges !== 'Approved' "
                         >
                         <!-- (click)="onCheckedChange($event.target)" -->
                    </div>
                    <label class="stdd mx-2 w270" style="margin-left: 15px;" >{{item.customerName}}</label>
                    <label class="stdd mx-2 w150">{{item.orderItemRef}}</label>
                    <label class="stdd mx-2 w50">{{item.applicationNo}}</label>
                    <label class="stdd mx-2 w150">{{item.candidateName}}</label>
                    <label class="stdd mx-2 w100">{{item.assessedOn | date}}</label>
                    <label class="stdd mx-2 w150">{{item.assessedByName}}</label>
                    <label class="stdd mx-2 w115"
                         [ngClass="{'notassessed': item.assessedResult==='NotAssessed"]
                    >
                         {{item.assessedResult}}
                    </label>
                    <input type="checkbox" [disabled]="true"
                         class="stdd mx-2"
                         [checked]="item.requireInternalReview"
                    >
                    <label class="stdd ml-4 w75" title="click to display HR Checklist, which includes charges fixed and agreed by candidate" 
                         (click)="openChecklistModal(item.candidateId, item.orderItemId)" style="padding-right: 10px;"
                         [ngClass]="{
                              'agreed': item.charges==='agreed',
                              'disparity': item.charges==='Disparity',
                              'undefined': item.charges==='Undefined'
                         }"
                    >{{item.charges}}</label>
                    <label class="stdd mx-2 w150">{{item.remarks}}</label>
               </div>
          </form>
     </div>
</div>