<div class="modal-header">
     <div class="b">Call Records</div>
     <button class="close pull-right fa fa-poweroff"
          type="button" aria-label="Close"
          (click)="bsModalRef.hide()">X
     </button>
</div>

<div class="modal-body">
     <form #frm="ngForm" id="frm">
          <div class="form-check " style="font-size: medium;">
               <label class="stdd w100">Application#</label>
               <input class="stdd w200" type="text" ngModel name="applicationNoFrom" 
                    id="applicationNoFrom" [(ngModel)]="cvParams.applicationNoFrom" >
          </div>
          <div class="form-check" style="font-size: medium;">
               <label class="stdd w100">Mobile No.</label>
               <input class="stdd w200" type="text" name="mobileNo" 
                    ngModel id="mobileNo" [(ngModel)]="cvParams.mobile" >
          </div>
          <div class="form-check" style="font-size: medium;">
               <label class="stdd w100">Email Id</label>
               <input class="stdd w200" type="text" name="emailId" 
                    ngModel id="emailId" [(ngModel)]="cvParams.email" >
          </div>
          <div class="form-check" style="font-size: medium;">
               <label class="stdd w100">Passport No.:</label>
               <input class="stdd w200" type="text" name="passportNo" 
                    ngModel id="passportNo" [(ngModel)]="cvParams.passportNo" >
          </div>
     </form>

     <div class="modal-footer">
          <button type="button" class="btn btn-default fa fa-user" (click)="getCandidate()"></button>
          <button type="button" class="btn btn-default fa fa-poweroff" (click)="close()"></button>
     </div>
     <div *ngIf="cBrief">
          <div>Candidate Name: {{cBrief.fullName}}</div>
          <div>Application#: {{cBrief.applicationNo}}</div>
          <div>City: {{cBrief.city}}</div>
          <div>{{cBrief.candidateStatusName}}</div>
          <hr>
          <button type="button" class="stdd btn btn-default fa fa-check" (click)="emitValue()"> </button>
          <button type="button" class="stdd btn btn-default fa fa-poweroff" (click)="cancelEmit()">X </button>
     </div>
     <div *ngIf="!cBrief">
          No candidate returned, or awaiting inputs
     </div>
</div>